<div class="side-bar">
  <a href="index.html" class="item">
    <div class="inner">
      <i class="iconfont icon-zhudapan"></i>
    </div>
    <div class="side-down">
      <p>我的主打盘</p>
    </div>
  </a>
  <a href="javascript:;" class="item js-feedback">
    <div class="inner">
      <i class="iconfont icon-fankuiyijian"></i>
    </div>
    <div class="side-down">
      <p>反馈建议</p>
    </div>
    <div class="red-dot dn"></div>
  </a>
  <a href="javascript:;" class="item ewm">
    <div class="inner">
      <i class="iconfont icon-erweima1"></i>
      <p>APP<br/>下载</p>
    </div>
    <div class="side-down">
      <img src="../../assets/img/iphone-code.png">
    </div>
  </a>
  <a href="javascript:;" class="back-top" id="backTop">
   <i class="iconfont icon-xiangxiajiantou-copy"></i>
   <p>TOP</p>
 </a>
</div>
