.detail-box {
  margin: 20px;
}

.avatar-box {
  width: 90px;
  height: 90px;
}

.avatar-box img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.text-box {
  margin-left: 10px;
}

.text-tb {
  font-size: 12px;
  color: #333;
  margin-top: 8px;
}

.text-tb .ellips {
  width: 160px;
}

.text-tb .name-txt {
  font-weight: bold;
}

.text-tb .status.stop {
  color: #00b4ed;
}

.text-tb .status.using {
  color: #48c448;
}

.text-tb th,
.text-tb td {
  padding: 5px 0;
}

.text-tb th {
  font-size: 12px;
  color: #999;
  font-weight: normal;
  padding-left: 10px;
}

.record-box {
  padding-left: 20px;
}

.record-head {
  padding-bottom: 10px;
  color: #333;
  font-weight: bold;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}

.record-list {
  margin-top: 20px;
  padding: 0 0 20px 220px;
  height: 181px;
  overflow: auto;
}

.record-list li {
  position: relative;
  color: #333;
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 12px;
}

.record-list li .date-txt {
  color: #666;
  position: absolute;
  left: -125px;
}

.record-list .line {
  border-left: 1px solid #e7e7e7;
  height: 100%;
  display: inline-block;
  position: absolute;
  z-index: 2;
  left: -30px;
  top: 4px;
}

.record-list li:last-child .line {
  display: none;
}

.record-list .yuan {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid #00b4ed;
  border-radius: 50%;
  position: absolute;
  left: -34px;
  top: 4px;
  z-index: 3;
  background: #fff;
}

.detail-btn .m-btn,
.deta a.m-btn {
  min-width: 30px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  margin-left: 10px;
}

.detail-btn.btn-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding: 5px 20px
}

.open-title .layui-layer-btn .layui-layer-btn0 {
  background: #00b4ed;
  border: 1px solid #00b4ed;
  box-shadow: 0;
  padding: 0 10px;
  border-radius: 0;
}

.open-title .layui-layer-btn a {
  font-size: 12px;
  line-height: 25px;
  height: 25px;
  margin: 0 10px;
}

.open-title .layui-layer-btn {
  background: #f5f5f5;
  padding: 5px;
}


/*弹出的提示框*/

.tip-box {
  margin-top: 30px;
  font-size: 12px;
  text-align: center;
}

.tip-box i {
  font-size: 18px;
  position: relative;
  top: 2px;
  left: -7px
}
.querist-box i {
  color: #00b0ec;
}
.warn-box i{
   color: #00b4ed;
}
/*record-no*/
.record-no{
  text-align: center;
  width: 100%;
  padding:20px 0 20px 0;

}
.record-no p
{
font-size: 16px;
color:#666;
margin-top:15px;
}
.record-no i{
  font-size: 70px;
  color:#e2e2e2;
  display: inline-block;
    height: 70px;
}